<footer class=" page-footer font-small mdb-color pt-2 text-white  mt-auto"
  style="background-color:rgba(22, 17, 53, 0.911)">

  <div class="container text-center text-md-left">

    <div class="row text-center text-md-left mt-3 pb-3">

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <img src="/public/images/2.gif" alt="" width="40" height="34" class="d-inline-block align-text-top pb-2">

        <p>"The best way to save someone's life is by <strong>DONATING BLOOD</strong> ".
        </p>
      </div>


      <hr class="w-100 clearfix d-md-none">


      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6></h6>
        <p>
          <a href="/tours" style="color: white" onMouseOver="this.style.color='grey'"
            onMouseOut="this.style.color='white'" class="text-decoration-none">Looking For Blood</a>

        </p>
        <p>
          <a href="/tours/new " style="color: white" onMouseOver="this.style.color='grey'"
            onMouseOut="this.style.color='white'" class="text-decoration-none">Wants to Donate</a>
        </p>

      </div>


      <hr class="w-100 clearfix d-md-none">


      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"> <strong>Quick Links</strong></h6>

        <p>
          <a href="/" style="color: white" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='white'"
            class="text-decoration-none">Home</a>
        </p>
        <p>
          <a href="/about" style="color: white" onMouseOver="this.style.color='grey'"
            onMouseOut="this.style.color='white'" class="text-decoration-none">About</a>
        </p>

      </div>


      <hr class="w-100 clearfix d-md-none">


      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"> <strong> Contact</strong></h6>
        <p>
          <a href="" style="color: white" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='white'"
            class="text-decoration-none">Contact Us</a>

        </p>
        <p>
          <a href="" style="color: white" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='white'"
            class="text-decoration-none">Terms and Conditions</a>
        </p>

      </div>


    </div>


    <hr>

    <div class="row d-flex align-items-center">


      <p class="text-center">© 2020 Copyright:
      </p>


    </div>

  </div>


  </foo