<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="card w-100 p-5 m-3 border-rounded shadow-lg">

            <h2 class=" mb-2"><strong>Overview</strong></h2>
            <p>Blood donation is a voluntary procedure that can help save the lives of others. There are several types
                of blood donation. Each type helps meet different medical needs.</p>

            <h4><strong>Whole blood donation</strong></h4>
            <p>This is the most common type of blood donation, during which you donate about a pint (about half a liter)
                of whole blood. The blood is then separated into its components — red cells, plasma and sometimes
                platelets.</p>

            <h4><strong>Apheresis </strong></h4>
            <p>During apheresis, you are hooked up to a machine that can collect and separate blood components,
                including red cells, plasma and platelets, and return unused components back to you.</p>

            <ul>
                <li> <strong> Platelet donation (plateletpheresis)</strong>collects only platelets — the cells that help
                    stop bleeding by clumping and forming plugs (clotting) in blood vessels.

                    Donated platelets are commonly given to people with clotting problems or cancer and people who will
                    have organ transplants or major surgeries.</li>

                <li> <strong> Double red cell donation</strong> allows you to donate a concentrated amount of red blood
                    cells. Red blood cells deliver oxygen to your organs and tissues.

                    Donated red blood cells are typically given to people with severe blood loss, such as after an
                    injury or accident, and people with sickle cell anemia.

                </li>

                <li> <strong> Plasma donation (plasmapheresis) </strong>collects the liquid portion of the blood
                    (plasma). Plasma helps blood clot and contains antibodies that help fight off infections.

                    Plasma is commonly given to people in emergency and trauma situations to help stop bleeding.

                </li>
            </ul>


            <h4><strong>Benefits </strong></h4>
            <p>Donating blood has benefits for your emotional and physical health. According to a report by the Mental
                Health Foundation, helping others can:
            </p>
            <ul>
                <li>reduce stres</li>
                <li>improve your emotional well-being</li>
                <li>benefit your physical health</li>
                <li>help get rid of negative feelings </li>
                <li>provide a sense of belonging and reduce isolation </li>
            </ul>

            <h4> <strong> Risks </strong> </h4>
            <p>Blood donation is safe. New, sterile disposable equipment is used for each donor, so there's no risk of
                contracting a bloodborne infection by donating blood.</p>
            <p>If you're a healthy adult, you can usually donate a pint (about half a liter) of blood without
                endangering your health. Within a few days of a blood donation, your body replaces the lost fluids. And
                after two weeks, your body replaces the lost red blood cells.

            </p>

            <h3>How you prepare </h3>
            <h4><strong>Eligibility requirements </strong></h4>
            <p>To be eligible to donate whole blood, plasma or platelets, you must be:
            </p>
            <ul>
                <li>In good health. </li>
                <li>At least 16 or 17 years old, depending on the law in your state. Some states allow legal minors to
                    donate with parent permission. While there's no legal upper age limit, policies may vary between
                    individual donor centers. </li>
                <li>At least 110 pounds (about 50 kilograms). </li>
                <li>Able to pass the physical and health-history assessments. </li>
            </ul>
            <p>Eligibility requirements differ slightly between different types of blood donation.

            </p>
            <h4><strong>Food and medications </strong></h4>
            <p>Before your blood donation: </p>
            <ul>
                <li>Get plenty of sleep the night before you plan to donate. </li>
                <li>Eat a healthy meal before your donation. Avoid fatty foods, such as a hamburger, fries or ice cream.
                </li>
                <li>Drink plenty of water before the donation. </li>
                <li>Check to see if any medications you are taking or recently took would prevent you from donating. For
                    example, if you are a platelet donor, you must not take aspirin for two days prior to donating. Talk
                    to your doctor before discontinuing any medications.
                </li>
                <li>Wear a shirt with sleeves that can be rolled up. </li>
            </ul>

            <h3>What you can expect </h3>
            <h4><strong>Before the procedure </strong></h4>
            <p>Before you can donate blood, you will be asked to fill out a confidential medical history that includes
                questions about behaviors known to carry a higher risk of bloodborne infections — infections that are
                transmitted through the blood.
            </p>
            <p>Because of the risk of bloodborne infections, not everyone can donate blood. The following are a few
                high-risk groups that are not eligible to donate blood:
            </p>
            <ul>
                <li>Anyone who has used injected drugs, steroids or another substance not prescribed by a doctor in the
                    past three months </li>
                <li>Men who have had sexual contact with other men in the past three months </li>
                <li>Anyone who has a congenital coagulation factor deficiency</li>
                <li>Anyone who, in the past 12 months, has had close contact with — lived with or had sexual contact
                    with — a person who has viral hepatitis</li>
                <li>Anyone who has had a positive test for HIV </li>
                <li>Anyone who has engaged in sex for money or drugs in the past three months </li>
                <li>Anyone who has risk factors for the degenerative brain disorder Creutzfeldt-Jakob disease (CJD)
                </li>

            </ul>
            <p>You will also have a brief physical exam, which includes checking your blood pressure, pulse and
                temperature. A small sample of blood is taken from a finger prick and is used to check the
                oxygen-carrying component of your blood (hemoglobin level). If your hemoglobin concentration is normal
                and you've met all the other screening requirements, you can donate blood.</p>

            <h4><strong>During the procedure </strong></h4>
            <p>You lie or sit in a reclining chair with your arm extended on an armrest. If you have a preference for
                which arm or vein is used, share it. A blood pressure cuff or tourniquet is placed around your upper arm
                to fill your veins with more blood. This makes the veins easier to see and easier to insert the needle
                into, and also helps fill the blood bag more quickly. Then the skin on the inside of your elbow is
                cleaned.
            </p>
            <p>A new, sterile needle is inserted into a vein in your arm. This needle is attached to a thin, plastic
                tube and a blood bag. Once the needle is in place, you tighten your fist several times to help the blood
                flow from the vein. Blood initially is collected into tubes for testing. When these have been collected,
                blood is allowed to fill the bag, about a pint (about half a liter). The needle is usually in place
                about 10 minutes. When complete, the needle is removed, a small bandage is placed on the needle site and
                a dressing is wrapped around your arm.
            </p>
            <p>Another method of donating blood becoming increasingly common is apheresis. During apheresis, you are
                hooked up to a machine that can collect and separate blood components, such as red cells, plasma and
                platelets. This process allows more of a single component to be collected. It takes longer than standard
                blood donation — typically up to two hours.
            </p>

            <h4><strong>After the procedure </strong></h4>
            <p>After donating, you sit in an observation area, where you rest and eat a light snack. After 15 minutes,
                you can leave. After your blood donation:
            </p>
            <ul>
                <li>Drink extra fluids. </li>
                <li>Avoid strenuous physical activity or heavy lifting for about five hours. </li>
                <li>If you feel lightheaded, lie down with your feet up until the feeling passes. </li>
                <li>Keep your bandage on and dry for the next five hours. </li>
                <li>If you have bleeding after removing the bandage, put pressure on the site and raise your arm until
                    the bleeding stops. </li>
                <li>If bruising occurs, apply a cold pack to the area periodically during the first 24 hours. </li>
                <li>Consider adding iron-rich foods to your diet to replace the iron lost with blood donation.
                </li>
            </ul>

            <p>Contact the blood donor center or your doctor if you:
            </p>
            <ul>
                <li>Forgot to report any important health information. </li>
                <li>Have signs and symptoms of an illness, such as a fever, within several days after your blood
                    donation.
                </li>
            </ul>

            <h3>Results</h3>
            <h4><strong>Testing</strong></h4>
            <p>Your blood will be tested to determine your blood type and your Rh factor. Blood type is classified as A,
                B, AB or O. The Rh factor refers to the presence or absence of a specific antigen — a substance capable
                of stimulating an immune response — in the blood. You'll be classified as Rh positive or Rh negative,
                meaning you do or don't carry the antigen. This information is important because your blood type and Rh
                factor must be compatible with the blood type and Rh factor of the person receiving your blood.
            </p>
            <p>Your blood will also be tested for bloodborne diseases, such as hepatitis and HIV. If these tests are
                negative, the blood is distributed for use in hospitals and clinics. If any of these tests are positive,
                the donor center notifies you, and your blood is discarded.
            </p>
        </div>
    </div>