
<% layout('layouts/boilerplate') %> 

<div class="card bg-dark text-white" >
  <img src="/public/images/a7.cms" class="card-img" style="height: 610px;" alt="..." >
  <div class="card-img-overlay" style="background-color: rgba(29, 27, 27, 0.6);">
    <h1 class="card-title" style="position:absolute ; top: 40%; left: 40%;">Be a blood donor!</h1>
    <h5 class="card-title" style="position:absolute ; top: 49%; left: 20%;">Willingness to give is half the battle ,Be the reason someone's heart beats strong - register as a blood donor </h5>
    <h5> <a href="/donors/new " style=" position:absolute ; top: 55%; left: 45%;" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><button type="button" class="btn btn-outline-light" > Be a blood Donor</button></a></h5>          
</div>

</div>

<div class="card mb-3 w-75 m-auto my-5 shadow-lg p-3" style="background-color: hsl(0, 0%, 100%);">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="/public/images/a1.jpg" class="card-img w-100" alt="...">
    </div>
    <div class="col-md-7 ">
      <div class="card-body">
        <h2> <strong> Looking For Blood</strong></h2>
        <p>If you need blood for any patient write information about that patient so we can reach up to you as soon as possible. (please writr proper contact information)</p>
        <h5> <a href="/patient/newPatient" style="color: rgb(0, 0, 0)" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><button type="button" class="btn btn-outline-warning">Add Patient</button></a></h5>          
      </div>
    </div>
  </div>
</div> 
 


<h2 class="text-center mt-3"><strong>THE DONATION PROCESS</strong> </h2>
<h6 class="text-center pt-2">A few easy steps to save lives, who knew being a hero would be so easy?</h6>

<div class="container">
<div class="row row-cols-1 row-cols-md-4 g-1 mb-4 p-1 hover-overlay">


  <div class="col border rounded shadow-lg ">
    <div class="text-center">
      <img src="/public/images/b12.jpg" class="card-img-center " style="width: 160px; height: 160px;" alt="...">
      <div class="card-body">
        <a href="/donors/new" style="color: rgb(0, 0, 0)" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><h5><strong>Registration</strong></h5></a>
        
      </div>
    </div>
  </div>

   <div class="col border rounded shadow-lg">
    <div class="text-center">
      <img src="/public/images/b22.jpg" class="card-img-top" style="width: 200px; height: 160px;" alt="...">
      <div class="card-body">
        <h5><strong>Health Check</strong></h5>
      </div>
    </div>
  </div>
  <div class="col border rounded shadow-lg">
    <div class="text-center">
      <img src="/public/images/b33.jpg" class="card-img-top" style="width: 160px; height: 160px;" alt="...">
      <div class="card-body">
        <h5><strong>Donation</strong></h5>
      </div>
    </div>
  </div>
  <div class="col border rounded shadow-lg">
    <div class="text-center">
      <img src="/public/images/b41.jpg" class="card-img-top" style="width: 160px; height: 160px;" alt="...">
      <div class="card-body">
        <h5><strong>Relax and Refresh</strong></h5>
      </div>
    </div>
  </div>
</div>

</div>

<div class="text-center mb-4">
<a href="/p"><button type="button" class="btn btn-outline-warning text-black" style="color: tomato;">see the Donation  Process in detail</button>
  </a>
</div>


<div id="paralax1" class="p-5 " style="background-image: url(../public/images/54.jpg); height: 450px ; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"> 
  <div class="row h-100 p-5" > 
    <div class="col-md-12 align-self-center h-100" >
      <h1 class="text-center text-white">The mission of Save Life India is that not a single person</h1>
      <h1 class="text-center text-white">should suffer/die due to non availability of blood.</h1>

    </div>
  </div>
</div> 

<div class="card mb-3 w-100 my-5 border-none p-5" >
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="/public/images/a9.jpg" class="card-img w-100 h-100" alt="...">
    </div>
    <div class="col-md-7 ">
      <div class="card-body">
        <h3> <strong> Who are eligible to donate blood? </strong>       </h3>
        <p>To be eligible to donate whole blood, plasma or platelets, you must be:
        </p>
        <ul>
            <li>In good health.        </li>
            <li>At least 16 or 17 years old, depending on the law in your state. Some states allow legal minors to donate with parent permission. While there's no legal upper age limit, policies may vary between individual donor centers.        </li>
            <li>At least 110 pounds (about 50 kilograms).   </li>
            <li>Able to pass the physical and health-history assessments.        </li>
        </ul>
        <p>Eligibility requirements differ slightly between different types of blood donation.
    
      </div>
    </div>
  </div>
</div> 

<h2 class="text-center mt-2"><strong>What you can expect</strong></h2>
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 p-1 hover-overlay">


    <div class="col">
      <div class="text-center">
        <img src="/public/images/before1.png" class="card-img-center " style="width: 160px; height: 160px;" alt="...">
        <div class="card-body">
          <a href="/todo" style="color: rgb(0, 0, 0)" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><h5><strong>Before Your Donation          </strong></h5></a>
          
        </div>
      </div>
    </div>
  
     <div class="col ">
      <div class="text-center">
        <img src="/public/images/on2.png" class="card-img-top" style="width: 200px; height: 160px;" alt="...">
        <div class="card-body">
          <a href="/todo" style="color: rgb(0, 0, 0)" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><h5><strong>On the Day of Your Donation          </strong></h5></a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="/public/images/after1.png" class="card-img-top" style="width: 160px; height: 160px;" alt="...">
        <div class="card-body">
          <a href="/todo" style="color: rgb(0, 0, 0)" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none "><h5><strong>After Your Donation          </strong></h5></a>
        </div>
      </div>
    </div>
    
  </div>
  

</div>


<div id="paralax1" class="p-5 " style="background-image: url(../public/images/1116.jpg); height: 450px ; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"> 
  
      <div class="row h-100 p-5">
        <div class="col-6"></div>
        <div class="col-6">
          <h2 class="text-center text-black">Blood Donation Is A Small Act Of Kindness That Does Great And Big Wonders, here are some kind people who are helping everyone  </h2>
          <h5 class="text-center"> <a href="/donors " style="color: rgb(0, 0, 0); " onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="text-decoration-none"><button type="button" class="btn btn-danger">List Of blood Donor</button></a></h5>          
        </div>
      </div>


</div> 

